body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height:1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(142, 141, 141);
  border-top: 1px solid rgb(142, 141, 141);
  position: relative;
 
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-top: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;

}

.hour {
  background-color: white;
  color: #0d1f45;
  border-top: 1px dashed #000000;
  padding-top: 10px;
  text-align: center;
 
}

.past {
  background-color: #848181f0;
  color: rgb(22, 21, 21);
  font-style: italic color black;
  text-transform: capitalize;
}

.present {
  background-color: #ff6961;
  color: rgb(6, 6, 6);
  text-transform: uppercase;
}

.future {
  background-color: #77dd77;
  color: white;
  text-transform: capitalize;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  position: relative;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
